<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Till Solution</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_orange-red.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Till App</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <% if session[:shop_name] %>
              Current shop: <a class="mdl-navigation__link" href=""><%= session[:shop_name] %></a>
            <% end %>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer" id="menu">
        <span class="mdl-layout-title">Till App</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/shops/products/new">Upload products</a>
          <a class="mdl-navigation__link" href="/shops">Shops</a>
          <% if session[:shop_id] %>
            <a class="mdl-navigation__link" href="/shops/<%= session[:shop_id]%>">Products</a>
            <a class="mdl-navigation__link" href="/shops/<%= session[:shop_id]%>/orders">Orders</a>
          <% end %>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <% if flash[:errors] %>
              <ul id="errors">
                <% flash[:errors].each do |error| %>
                <div class="" role="alert">
                  <strong><%= error %></strong>
                </div>
                <% end %>
              </ul>
            <% end %>
            <% if flash[:notice] %>
              <div class="" role="success">
                <span class="" aria-hidden="true"></span>
                <strong><%= "#{flash[:notice]}" if flash[:notice] %></strong>
              </div>
            <% end %>
          </div>
          <div class="mdl-grid" id="yield">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
              <%= yield %>
            </div>
          </div>
        </div>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Till App</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="https://github.com/peter-miklos">Created by Peter Miklos</a></li>
          </ul>
        </div>
      </footer>
    </div>

    <script src="/javascript/till.js"></script>
  </body>
</html>
